<div class="page contact">
  <h1>צור קשר</h1>
  <div class="content">
    <div class="info">
      <iframe
        title=""
        src="https://storage.googleapis.com/maps-solutions-ws9f18hmsa/locator-plus/3iel/locator-plus.html"
        width="100%"
        height="90%"
        style="border: 0"
        loading="lazy"
      >
      </iframe>
      <div class="address">
        <span class="info-line">
          <i class="fa-solid fa-location-dot"></i>
          <h4>הרכבת 58, תל אביב-יפו</h4>
        </span>
        <span class="info-line">
          <i class="fa-solid fa-phone"></i>
          <h4>03-6134313</h4>
        </span>
      </div>
    </div>
    <form [formGroup]="formData" (ngSubmit)="sendEmail()">
      <h4 for="name">שם *</h4>
      <input formControlName="name" name="name" type="text" />
      <h4 for="email">אימייל *</h4>
      <input type="email" name="email" formControlName="email" />
      <h4 for="message">הודעה *</h4>
      <textarea name="message" formControlName="message"></textarea>
      <div class="info-line">
        <button
          class="filled-button"
          [class]="{ disabled: formData.invalid && formData.dirty }"
          type="submit"
          [disabled]="formData.invalid"
        >
          שלח
        </button>
        <i *ngIf="sendingEmail" class="fa-solid fa-spinner fa-spin"></i>
      </div>
      <h5 *ngIf="showEmailErrorMessage" class="error">
        הייתה בעיה בשליחה ההודעה, נסו שוב
      </h5>
      <h5 *ngIf="showEmailSuccessMessage" class="success">
        ההודעה נשלחה, נחזור אליכם בהקדם
      </h5>
    </form>
  </div>
</div>
