<div class="page about">
  <div class="intro">
    <h1>קצת עלינו</h1>

    <h4>
      צוות המשרד שלנו כולל אנשי מקצוע מנוסים ומסורים, המובילים את תחום הפיננסים
      בהובלת רו"ח אמיר רוזנברג.
    </h4>
    <h4>
      כל אחד מחברי הצוות מביא עמו ידע רחב ומומחיות ייחודית, ומעורר חשיבה יצירתית
      במתן פתרונות מותאמים אישית.
    </h4>
    <h4>
      יחד, אנו מספקים שירות איכותי, מקצועי ואישי, הממוקד בהבנת הצרכים המדויקים
      של כל לקוח, תוך שמירה על רמה גבוהה של מקצועיות ויחס אישי.
    </h4>
  </div>
  <div class="team">
    <h1>הכירו את הצוות שלנו</h1>
    <div class="team-info">
      <div class="big info">
        <h2>רו״ח אמיר רוזנברג</h2>
        <h3>מייסד המשרד</h3>
        <h5>רו"ח חבר בלשכת רואי החשבון של ישראל,</h5>
        <h5>עם מעל 30 שנה של ניסיון בתחום.</h5>
        <h5>היה מרצה לשעבר בקורסי יזמות עסקית במכללה למנהל בתל אביב</h5>
        <h5>ומציע ייעוץ פיננסי מותאם אישית לעסקים.</h5>
        <h5>בנוסף, הוא מגשר מוסמך מטעם המרכז הישראלי למשא ומתן וגישור,</h5>
        <h5>ובעל הסמכה גם מלשכת רואי החשבון.</h5>
      </div>
      <div class="column">
        <div class="info">
          <h2>ירון דוקטורוביץ׳</h2>
          <h3>רואה חשבון</h3>
          <h5>בוגר הקריה האקדמית אונו</h5>
          <h5>בעל ותק וניסיון מעל לעשור</h5>
        </div>

        <div class="info">
          <h2>אלינור גבריאלוב</h2>
          <h3>מנהלת תיקי לקוחות</h3>
          <h5>ותק וניסיון מעל ל15 שנה</h5>
        </div>
      </div>
      <div class="column">
        <div class="info">
          <h2>אירינה שטיק</h2>
          <h3>מנהלת תיקי לקוחות</h3>
          <h5>ותק וניסיון מעל ל15 שנה</h5>
        </div>

        <div class="info">
          <h2>אולגה פיימר</h2>
          <h3>מנהלת תיקי לקוחות</h3>
          <h5>ותק וניסיון כעשור</h5>
        </div>
      </div>
    </div>
  </div>
</div>
