.responsibilities {
  display: flex;
  flex-direction: column;

  .content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 580px;

    .subjects {
      display: flex;
      flex-direction: column;
      width: 30%;
      justify-content: space-between;
      flex-grow: 2;

      .itemTitle {
        display: flex;
        flex-direction: row;
        gap: 15px;
        align-items: center;
      }
    }

    .item {
      padding: 20px;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      border-radius: 8px;
      width: 70%;
      overflow-y: auto;
      height: 500px;
      position: relative;

      h5 {
        margin: 3px 0;
      }

      .custom-icon {
        font-size: 5px;
      }

      .points {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
      }
    }

    /* Bottom shadow (inside the scrollable box) */
    .item::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40px;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      pointer-events: none;
      transition: opacity 0.3s;
      opacity: 1;
    }

    .item.scrolled::after {
      opacity: 0;
    }
  }
}
