.responsibilities {
  display: flex;
  flex-direction: row;
  gap: 20px;

  .subjects {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .details {
    padding: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    align-items: center;
    width: 400px;

    h5 {
      margin: 3px 0;
    }
  }
}
