<div class="responsibilities">
  <div class="subjects">
    <div
      *ngFor="let item of items"
      (mouseover)="selectItem(item)"
      (focus)="selectItem(item)"
    >
      <h4>{{ item.title }}</h4>
    </div>
  </div>
  <div *ngIf="selectedItem" class="details">
    <h2>{{ selectedItem.title }}</h2>
    <h4>{{ selectedItem.description }}</h4>
    <h4>חלק מהשירותים הניתנים בתחום זה</h4>
    <div *ngFor="let point of selectedItem.points">
      <span>
        <i class="fas fa-solid fa-circle"></i>
        <h5>{{ point }}</h5>
      </span>
    </div>
  </div>
</div>
