.nav-bar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  gap: 20px;

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 40%;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Heebo', sans-serif;

  }

  img {
    height: fit-content;
    width: 15%;
    max-width: 180px;
  }
}
