<div class="page home">
  <div class="info">
    <div class="text">
      <h1>אמיר רוזנברג ושות' רואי חשבון</h1>
      <h4>
        משרדנו, שהוקם בשנת 1994 על ידי רו"ח אמיר רוזנברג, חבר בלשכת רואי החשבון
        בישראל ובעל ניסיון של מעל 30 שנה, מעניק שירותי ראיית חשבון, ייעוץ פיננסי
        וליווי עסקי ברמה הגבוהה ביותר.
      </h4>
      <h4>
        אנו מחויבים לספק שירות מקצועי, אמין ואיכותי, תוך מתן יחס אישי ותשומת לב
        לכל לקוח, מתוך הבנה שעסק מצליח מתחיל בהתנהלות פיננסית נכונה.
      </h4>

      <h4>
        המשרד, הממוקם בלב תל אביב, משרת מאות לקוחות מכל רחבי הארץ – מעסקים קטנים
        ועד חברות מובילות – ומספק פתרונות מותאמים אישית לכל צורך עסקי. צוות
        המומחים שלנו משלב ידע מקצועי רחב עם גישה פרקטית, ומלווה את לקוחותינו
        להצלחה כלכלית, יציבות וצמיחה.
      </h4>
      <h4>מחפשים שותף פיננסי אמין שילווה אתכם קדימה? אנחנו כאן בשבילכם!</h4>
    </div>
    <div class="buttons">
      <button [routerLink]="baseUrl + 'about'">עוד עלינו</button>
      <button [routerLink]="baseUrl + 'responsibilities'" class="filled-button">
        מה אנחנו עושים
      </button>
    </div>
  </div>
  <img src="/amir-rozenberg.JPG" alt="" class="photo" />
</div>
