<div class="page home">
  <div class="info">
    <div class="text">
      <h1>אמיר רוזנברג ושות' רואי חשבון</h1>
      <h4>
        המשרד נוסד בשנת 1994 על ידי רו"ח אמיר רוזנברג, חבר בלשכת רואי החשבון של ישראל,
        בעל ניסיון עשיר של מעל ל-30 שנה בתחום.
      </h4>
      <h4>
        אנו גאים להעניק ללקוחותינו שירות מקצועי, אמין ואיכותי, תוך שמירה על יחס
        אישי ותשומת לב לכל פרט ולקוח.
      </h4>

      <h4>
        המשרד, הממוקם בלב תל אביב, משרת מאות לקוחות ברחבי הארץ, ומספק פתרונות
        מותאמים אישית בעבור מגוון רחב של תחומים עסקיים
      </h4>

      <h4>וכולל צוות מנוסה ומיומן, המחויב להעניק שירות מקצועי ומצוין בכל תחום</h4>
    </div>
    <div class="buttons">
      <button [routerLink]="baseUrl + 'about'">עוד עלינו</button>
      <button [routerLink]="baseUrl + 'responsibilities'" class="filled-button">מה אנחנו עושים</button>
    </div>
  </div>
  <img src="/amir-rozenberg.JPG" alt="" class="photo" />
</div>
